<div class="container-fluid">
  <h3>MailBox</h3>
  <div class="container-fluid" style="text-align: center; display: flex; flex-direction: column; margin-top: 2%; padding-bottom: 2%; border: solid grey 2px; border-radius: 10px;">
    <h5 style="margin-bottom: 1%; margin-top: 2%;">Of :</h5>
    <h6 style="margin-bottom: 2%;">Object: </h6>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque veritatis minus ea illum quis veniam explicabo tempora libero quaerat, consequuntur dolorem consectetur ut culpa dignissimos aspernatur eum fugiat repudiandae!</span>
  </div>
</div>
