<div class="container-fluid" style="display: flex; flex-direction: column;">
  <label for="">First name</label>
  <input class="form-control form-control-sm" style="border: solid grey 1px;" type="text">
  <label for="">Last name</label>
  <input class="form-control form-control-sm" style="border: solid grey 1px;" type="text">
  <label for="">Mail</label>
  <input class="form-control form-control-sm" style="border: solid grey 1px;" type="text">
  <label for="">Date of birthday</label>
  <input class="form-control form-control-sm" style="border: solid grey 1px;" type="date">
</div>
